<{strip}>
<{if $smarty.session._user_id != "0"  || $columns}>
<table class="widthmax" summary="">
	<tr>
		<{if $columns}>
		<{foreach name=column_loop from=$columns key=i item=column}>
		<td class="column valign-top">
			<{if $column}>
			<{foreach from=$column key=j item=value}>
				<{* レスポンシブ化の追加処理。モジュール初期アクションをテンプレートへ。キャビネットなどの場合、overflow 設定するため。 add by nagahara@opensource-workshop.jp *}>
				<div class="cell <{$action_names.$i.$j}><{if $responsive_block.$i.$j}> responsive_block<{/if}>" style="<{$style.$i.$j}>">
				<{* <div class="cell" style="<{$style.$i.$j}>"> *}>
					<{$column.$j|smarty:nodefaults}>
				</div>
			<{/foreach}>
			<{/if}>
		</td>
		<{/foreach}>
		<{/if}>
	</tr>
</table>
<{/if}>
<{/strip}>